*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 22px;
}
.navigation{
    list-style: none;
}
.navigation,li{
    display: inline-block;
    padding: 0px 20px;
}
button{
    padding: 20px;
    background-color: #ED661F;
    border: none;
    margin-right: 30px;
}
header, h1, h3, button{
    cursor: pointer;
}
.navigation,li a:hover{
    color: #ED661F;
}