*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 22px;
}
.navigation,li{
    display: inline-block;
    padding: 0px 20px;
}
ul li a{
color: white;
text-decoration: none;

}
button{
    padding: 20px;
    background-color: #ED661F;
    border: none;
    margin-right: 30px;
}
header, h1, h3, button{
    cursor: pointer;
}
.navigation,li a:hover{
    color: #ED661F;
}
.back{
    background-image: url("assets/image 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.intro{
    display: flex;
    flex-direction: row;
}
.intro1{
}
.intro p{
    font-size: 20px;
    margin: 30px;
    padding-top: 30px;
}
