*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, Inter sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 22px;
}
.navigation,li{
    display: inline-block;
    padding: 0px 20px;
}
ul li a{
color: white;
text-decoration: none;

}
button{
    padding: 20px;
    background-color: #ED661F;
    border: none;
    margin-right: 30px;
}
header, h1, h3, button{
    cursor: pointer;
}
.navigation,li a:hover{
    color: #ED661F;
}
.back{
    background-image: url("assets/image 1.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.intro{
    display: flex;
    flex-direction: row;
}
.intro p{
    font-size: 20px;
    margin: 30px;
    padding-top: 30px;
}
#buy{
    font-size: 30px;
     font-weight: bold;
}
#button2{
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin-bottom: 150px;
}
.customers{
    display: flex;
    border: solid 2px black;
    width: 50%;
    height: 100px;
    margin: 20px;
    justify-content: space-between;
    margin-left: 40%;
    padding-top: -30px;
}
.vend{
    padd
}
.why{
    display: flex;
    flex-direction: row;
}
.exist{
    font-size: 24px;
    margin-left: 30px;
    padding-top: 30px;
    font-family: "Poppins,inter" sans-serif;
}
.our{
    text-align: center;
    font-size: 26px;
}
.products{
    display: flex;
}
#mo{
    margin: 15px;
}
.goods{
    margin: 15px;
}
.new{
    display: flex;
}
.item{
    margin: 15px;
}